.reviews{
    font-family: "Gotham Pro",sans-serif;
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 42px;
    margin-top: 19px;
    text-transform: capitalize;
}
.reviews-list{
    height: 1100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   

.reviews__item{
    font-family:  "GothamPro-Light" ;
    font-size: 18px;
    padding-bottom: 17px;
    margin-top: 25px;
    border-bottom: 2px solid #f5f5f5;
    overflow: auto;
    
}
.reviews__item:last-child{
    border-bottom: none;
}

.reviews__image{
    width: 160px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    height: 161px;
    vertical-align: top;
    position: relative;
    background: #f5f5f5;
    left: 17px
}

.reviews__image_img{
    max-height: 100%;
    max-width: 100%;
}
.reviews__image_default{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 49px);

}

.reviews__portrait{
    float: right;
    width: 708px;
}
.reviews__date{
    font-family: "GothamPro-Light" ;
    font-size: 14px;
    display: block;
}
.reviews__name{
    font-family:  'GothamPro-Bold';  
    font-size: 18px;
}
.reviews__text{
    padding: 0;
    line-height: 30px;
    margin: 12px 7px;
}